# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.JustShrt.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore build outputs
bin/
obj/

# Rider specific files
.idea/
*.sln.iml
.idea/*

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET temporary files
**/App_Data/  
**/App_Themes/

# Log files
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Entity Framework Migrations
Migrations/

# Publish profiles
*.pubxml
*.publishproj

# Visual Studio files (if applicable)
.vscode/
.vs/

